@model IEnumerable<sight.Models.photo>

@{
    ViewBag.Title = "Index";
    Layout = null;
}




<style>
    a {
        text-decoration: none;
        font-size: larger
    }

    .deletA {
        color: red;
    }

    .pos {
        color: white;
    }

 
    .mmmp {
        width: 100%;
    }

    .p {
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>

<!-- Portfolio Grid-->
<section class="page-section" id="portfolio">
    <div class="container">
        <div class="text-center">

        </div>
        <div class="row justify-content-between">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                   
                        <div style="background-color: #00000030 ">
                            &nbsp;
                            @Html.ActionLink("✎", "Edit", new { id = item.id }, new { @class = "pos" }) <span style="color:ghostwhite">|</span>
                            @Html.ActionLink("✘", "Delete", new { id = item.id }, new { @class = "deletA" })
                        </div>
                        <div class="mmmp"><img class="p" src="~/assetsUser/img/portfolio/@item.photo_url" alt="..." /></div>
                        <div class="portfolio-caption p-1" style="background-color: #00000030 ">
                            <span class="portfolio-caption-subheading text-muted"> @item.PhotographyType1.TypeName </span>
                            @if( item.title != null)
                            {
                                <span class="portfolio-caption-heading"> , @item.title </span>

                            }

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

