@model IEnumerable<sight.Models.photo>

@{
    ViewBag.Title = "Photographers Gallery\r\n";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}



<style>


    .myIMG {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }

        .myIMG:hover {
            transform: scale(4);
        }
</style>

@*<div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <a href="~/photographers/Indexxx" class="btn btn-warning">New Photographers</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <a href="~/photographers/Index" class="btn btn-warning">Availability</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <a href="~/photographers/Indexx" class="btn btn-warning">All Photographers</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <a href="~/photographers/Photos" class="btn btn-warning">Photos Gallery</a>
                </div>
            </div>
        </div>
    </div>
    <br />*@




@*//////////////////////////////////////////////////////////////////*@

<style>
    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -15px;
    }

    .cardd {
        width: calc(100%/10 - 10px);
        margin: 0 10px 20px;
        text-align: center;
    }

    .card-img-topp {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }


    .card-text {
        font-size: 0.8rem;
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {
        .card-deck {
            flex-direction: column;
        }

        .cardd {
            width: auto;
        }
    }
</style>

<div class="bg-secondary rounded h-100 p-4">

    <div class="container">
        <h5 class="text-center">
            Pictures uploaded by photographers
        </h5><br />
        <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">

                    @foreach (var item in Model.OrderByDescending(p => p.id))
                    {
                        <div class="cardd">
                            <a href="~/assetsUser/img/portfolio/@item.photo_url" download="@item.photographer.FullName">

                                <img src="~/assetsUser/img/portfolio/@item.photo_url" class="card-img-topp" alt="@item.title">
                            </a>

                            <div class="card-bodyd">
                                <a class="card-text" href="/photographers/PhotographerProfile/@Html.DisplayFor(modelItem => item.photographer.id)">@Html.DisplayFor(modelItem => item.photographer.FullName)</a>

                                @*<p class="card-text">@item.photographer.FullName</p>*@
                            </div>
                        </div>

                    }
                    <!-- more cards here -->
                </div>
            </div>
        </div>
    </div>

</div>