@model sight.Models.city

@{
    ViewBag.Title = "Delete City";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}



<h2>Delete</h2>

<h3>Are you sure you want to delete this city?</h3>
<div>
    <hr />

    @*@if (ViewBag.Error != null)
        {
            <div class="alert alert-danger"><b>Warning!! </b>You cannot delete a city added to the portfolio of your photographers!!</div>
        }*@

    @if (ViewBag.Errors != null)
    {
        <div class="alert alert-danger"><b>Warning!! </b>You cannot delete a city added to the portfolio of your photographers!!</div>
    }

    <div class="row">
        <dl class="col-md-6 col-sm-12">


            <dt><b style="color: #d9d9d9;">City:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.cityName)
            </dd>



        </dl>
    </div>





    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Create")
        </div>
    }
</div>
