@model sight.Models.PhotographyType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhotographyType</h4>
    <hr />
    <div class="row">
        <dl class="col-md-6 col-sm-12">


            <dt><b style="color: #d9d9d9;">Photography Type:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.TypeName)
            </dd>

            <dt><b style="color: #d9d9d9;">Description:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
        <div class="col-md-6 col-sm-12">
            <img src="~/assetsUser/img/@Model.ImageUrl" name="photo" alt="photo" id="myImage" class="img-fluid">

        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TypeID }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Back", "Index")
    </p>
