@model sight.Models.FAQ

@{
    ViewBag.Title = "Delete FAQ";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this question?</h3>
<div>
    <h4>Frequently Asked Questions</h4>
    <hr />


    <div class="row">
        <dl class="col-md-6 col-sm-12">


            <dt><b style="color: #d9d9d9;">Question:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.question)
            </dd>

            <dt><b style="color: #d9d9d9;">Answer:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.answer)
            </dd>

        </dl>
    </div>





    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Create")
        </div>
    }
</div>
