
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<a href="~/cities/Create" class="btn btn-outline-success">Create City</a>
<a href="~/PhotographyTypes/Index" class="btn btn-outline-success"><i class="far fa-file-alt me-2"></i>Services</a>
<a href="~/admins/Edit" class="btn btn-outline-success"><i class="far fa-file-alt me-2"></i>Edit Profile</a>
<a href="~/FAQs/Index" class="btn btn-outline-success"><i class="far fa-file-alt me-2"></i>FAQs</a>

