
@{
    ViewBag.Title = "Gallery";
}


<style>

    .table td {
        max-width: 250px;
        overflow-x: auto;
    }
</style>


<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h4 class="mb-4">  @Html.ActionLink("Add New Photo", "AddNewPhoto")</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Photographer Name</th>
                        <th scope="col">Profile Link</th>
                        <th scope="col">Photo</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    <tr>
                        <th scope="row">6</th>
                        <td>Baraa</td>
                        <td><a href="#">Profile</a></td>
                        <td><img src="~/AdminDashboard/img/Portrait.jpg" width="100px" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>