
@{
    ViewBag.Title = "Photographers";
}

<style>


    .myIMG {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }
        .myIMG:hover {
            transform: scale(4);
        }

  
</style>


<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        @*<h4 class="mb-4">  @Html.ActionLink("Add New Photographer", "Create")</h4>*@
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Phone</th>                        
                        <th scope="col">Photo</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG"/></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Baraa</td>
                        <td>Mohammad</td>
                        <td>baraa@gmail.com</td>
                        <td>0770000000</td>
                        <td><img src="~/AdminDashboard/img/baraa.png" width="30px" class="myIMG" /></td>
                        <td>
                            <a class="btn btn-primary">Edit</a>
                            <a class="btn btn-primary">Details</a>
                            <a class="btn btn-primary">Delete</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

