@model IEnumerable<sight.Models.comment>

@{
    Layout = null;
}


@foreach (var item in Model)
{
    <hr />
    <table class="table-bordered table table-hover table-responsive">
       
        <tr>
            <th>
                Comment:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.comment1)
            </td>
        </tr>
        <tr>
            <th>
                Created at:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
        </tr>

        <tr>
            <th>
                Photographer:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.photographer.FullName)
            </td>

        </tr>


        <tr>
            <td colspan="2">
                @Html.ActionLink("Delete", "Delete", new { id = item.id })

            </td>
        </tr>
    </table>
}
