@model IEnumerable<sight.Models.comment>

@{
    Layout = null;
}

<style>
    .table td::-webkit-scrollbar {
        width: 0.1em;
        height: 10px;
        background-color: #f8f9fa;
    }

    .table td::-webkit-scrollbar-thumb {
        background-color: #555;
    }

        .table td::-webkit-scrollbar-thumb:hover {
            background-color: darkorange;
        }
</style>

@foreach (var item in Model)
{
    <hr />
    <table class="table-bordered table table-hover table-responsive">
       
        <tr>
            <th>
                Comment:
            </th>
            <td style=" overflow: auto; ">
                <p style="height:20px"> @Html.DisplayFor(modelItem => item.comment1)</p>
            </td>
        </tr>
        <tr>
            <th>
                Date:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
        </tr>

        <tr>
            <th>
                Photographer:
            </th>
            <td>
                <a href="/photographers/PhotographerProfile/@Html.DisplayFor(modelItem => item.photographer.id)">@Html.DisplayFor(modelItem => item.photographer.FullName)</a>
            </td>

        </tr>


        <tr>
            <td colspan="2">
                @Html.ActionLink("Delete", "Delete", "Account", new { id = item.id }, null)

            </td>
        </tr>
    </table>
}
